<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>{{ threadtitle }} - OSV-4</title>
</head>
<body style='background-color:#dfdfdf;font-family: "Meiryo", sans-serif;font-size:12px'>
    <h1 style="color:red">{{ threadtitle }}</h1>
    <a href="/bbs/{{ bbs }}">■掲示板に戻る</a>　
    <a href="/">■OSV-5に戻る</a>
    <a href="/{{ bbs }}/dat/{{ thread }}.dat">■datファイル</a>
    <hr>
    <div id="threads" style="margin:1px">
      <!-- messages -->
    </div><hr>
    <a href="/bbs/{{ bbs }}">■掲示板に戻る</a>　
    <a href="/">■OSV-4に戻る</a><hr>
   <button onclick="submits()">投稿</button>お名前:<input id="usrname">コマンド:<input id="mail"><br>
        <textarea id="message" style="width: 401px; height: 160px;"></textarea><br>
　　　　　　　　　　　　　　<button onclick="submits()" style="font-size:13pt;border-radius:2px;padding:20px;width:40%"> 投稿する</button><br>
    現在の掲示板全体の人数は<span id="ninz"></span>人。<br>
    レス着音<input type="checkbox" id="audioon">/
    <button data-bs-toggle="offcanvas" data-bs-target="#UpdatesHistoryWindow">アプデ履歴</button>
    

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <i class="bi bi-bell-fill"></i>
          <strong class="me-auto">アプデ通知</strong>
          <small>掲ガイ</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <span id="updateinfos"></span><br><button onclick='location.reload()'>リロードする</button>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="UpdatesHistoryWindow" aria-labelledby="UpdatesHistoryWindowLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="UpdatesHistoryWindowLabel">アプデ履歴</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p id="updatehistory"></p>
        <button onclick='location.reload()'>リロードする</button>
      </div>
    </div>

</body>
</html>

<audio src="https://soundeffect-lab.info/sound/button/mp3/decision47.mp3" id="resaudio">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>
  document.getElementById("audioon").checked = true
  var sckio = io()
  function submits() {
    // クライアントのIPアドレスを取得する非同期処理
    // この非同期処理が完了する前に、後続のコードが実行される可能性があることに注意してください
    $.get("https://ipinfo.io", function(res) {
        var idp = res.ip;
        var namep = document.getElementById("usrname").value;
        var mail = document.getElementById("mail").value;
        var msgp = document.getElementById("message").value;
        var audiores = document.getElementById("resaudio");
        var bbs = "{{ bbs }}";
        var threads = "{{ thread }}";
        
        // Socket.ioを使用して投稿情報をサーバーに送信
        sckio.emit("post", {
            "name": namep,
            "id": idp,
            "msg": msgp,
            "bbs": bbs,
            "threads": threads,
            "mail":mail
        });
        
        // 投稿後、メッセージ入力欄をクリア
        document.getElementById("message").value = "";
        
        // 投稿成功時の処理をここに追加できます
        // 例：投稿が成功したことをユーザーに通知する、投稿内容を表示するなど
    }, "jsonp");
}

  
  function report(){
    var namep = document.getElementById("report_title").value
    var msgp = document.getElementById("report_text").value
    sckio.emit("rep",{"title":namep,"description":msgp})
  }

  

  sckio.on('get-{{ bbs }}-{{ thread }}', function(msg) {
    var msgs = document.getElementById("threads")
    msgs.innerHTML = msg
    if(document.getElementById("audioon").checked){
        document.getElementById("resaudio").play()
    }
  });

  sckio.on('update_counter', function(dta){
    console.log(dta.count);
    document.getElementById("ninz").innerHTML = dta.count
  });
  sckio.on("update_information",function(text){
    toastLiveExample = document.getElementById("liveToast")
    toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)

    document.getElementById("updateinfos").innerText=text    
    document.getElementById("updatehistory").innerText+=text+"\n"
    toastBootstrap.show()
  })
</script>
